In [1]:
# Ignore  the warnings
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

# data manipulation
import numpy as np
import pandas as pd

In [2]:
#import the necessary modelling algos.

#classifiaction.
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC,SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

#model selection
from sklearn.model_selection import train_test_split,cross_validate

#preprocessing
from sklearn.preprocessing import MinMaxScaler,StandardScaler,Imputer,LabelEncoder

#evaluation metrics
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score  # for classification

In [3]:
heiwei = pd.read_csv("heiwei.csv")

heiwei.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
heiwei.shape

(10000, 3)

In [5]:
heiwei.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [6]:
heiwei.Gender.unique()

array(['Male', 'Female'], dtype=object)

### Checking Null values

In [7]:
heiwei.isnull().any().any().sum()

0

### Checking for Duplicates

In [8]:
heiwei.columns.duplicated()

array([False, False, False])

### Renaming Male and Female with Int values

In [9]:
heiwei =heiwei.replace("Male" , 1)
heiwei = heiwei.replace("Female" , 2)

In [10]:
heiwei.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [11]:
heiwei.describe()

             Gender        Height        Weight
count  10000.000000  10000.000000  10000.000000
mean       1.500000     66.367560    161.440357
std        0.500025      3.847528     32.108439
min        1.000000     54.263133     64.700127
25%        1.000000     63.505620    135.818051
50%        1.500000     66.318070    161.212928
75%        2.000000     69.174262    187.169525
max        2.000000     78.998742    269.989699

### Splitting Data into Train and Test sets

In [12]:
train, test = train_test_split(heiwei, test_size=0.3) 


print(train.shape , test.shape)

(7000, 3) (3000, 3)

In [13]:
train_x = train[['Height', 'Weight']]
train_y = train.Gender

test_x = test[['Height', 'Weight']]
test_y = test.Gender

### Applying Machine Learning Algorithms

In [14]:
model = LogisticRegression()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 91.86666666666666

In [15]:
model = LinearSVC()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 81.69999999999999

In [16]:
model = KNeighborsClassifier()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 90.86666666666666

In [17]:
model = DecisionTreeClassifier()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 86.26666666666667

In [18]:
model = SVC(kernel='rbf')
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 91.5

In [19]:
model = RandomForestClassifier()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 90.0

In [20]:
model = GradientBoostingClassifier()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 91.5

In [21]:
model = GaussianNB()
model.fit(train_x, train_y)
pred = model.predict(test_x)

accuracy = accuracy_score(pred,test_y)*100
print('Accuracy :', accuracy )

Accuracy : 88.03333333333333