### Reading the File using pandas

In [1]:
import pandas as pd

heiwei = pd.read_csv("heiwei.csv")

heiwei.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [14]:
heiwei.shape

(10000, 3)

In [2]:
heiwei.columns

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [3]:
heiwei.Gender.unique()

array(['Male', 'Female'], dtype=object)

### Checking Null values

In [4]:
heiwei.isnull().any().any().sum()

0

### Checking for Duplicates

In [5]:
heiwei.columns.duplicated()

array([False, False, False])

In [6]:
heiwei =heiwei.replace("Male" , 1)
heiwei = heiwei.replace("Female" , 2)

In [7]:
heiwei.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

### Splitting Data into Train and Test sets

In [8]:
from sklearn.model_selection import train_test_split
from sklearn import metrics # for checking the model accuracy


train, test = train_test_split(heiwei, test_size=0.3) 


print(train.shape , test.shape)

(7000, 3) (3000, 3)

In [9]:
train_x = train[['Height', 'Weight']]
train_y = train.Gender

test_x = test[['Height', 'Weight']]
test_y = test.Gender

### Macine Learning Algorithms 
### KNN Algorithm

In [10]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=20) 
model.fit(train_x, train_y)
prediction = model.predict(test_x)
print('The accuracy of KNN is: ', metrics.accuracy_score(prediction, test_y))

result = model.predict([[74,100]])

print(result)

The accuracy of KNN is:  0.912
[2]

### Support Vector Machine

In [11]:
from sklearn import svm 
model = svm.SVC() 

model.fit(train_x, train_y)

prediction = model.predict(test_x)
print('The accuracy of the SVM is: ', metrics.accuracy_score(prediction, test_y)) 

result = model.predict([[100,130]])

print(result)

E:\Ajith\anakonda\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

The accuracy of the SVM is:  0.913
[1]

### LogisticRegression

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(train_x, train_y)
prediction = model.predict(test_x)
print('The accuracy of Logistic Regression is: ', metrics.accuracy_score(prediction, test_y))

result = model.predict([[100,130]])

print(result)

The accuracy of Logistic Regression is:  0.916
[2]

E:\Ajith\anakonda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

### DecisionTreeClassifier

In [13]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(train_x,train_y)
prediction = model.predict(test_x)
print('The accuracy of Logistic Regression is: ', metrics.accuracy_score(prediction, test_y))

result = model.predict([[100,130]])

print(result)

The accuracy of Logistic Regression is:  0.873
[2]